---
import Layout from "../layouts/Layout.astro"
import Form from "../components/form/Form.astro"
---
<Layout>
  <h2 class="text-lg font-semibold text-gray-300 ml-4 mb-2">Register a new student</h2>
  <Form />
</Layout>
