---
---

<nav>
  <ul class="flex px-4 gap-4">
    <li class="text-zinc-300 hover:text-blue-500 transition-all duration-200"><a href="/">Home</a></li>
    <li class="text-zinc-300 hover:text-blue-500 transition-all duration-200"><a href="/students">Students</a></li>
    <li class="text-zinc-300 hover:text-blue-500 transition-all duration-200"><a href="/register">Register</a></li>
  </ul>
</nav>